# Ignore everything by default

# Always keep these control files
!.gitignore
!.gitattributes
!README.md
!degrowth_tm_review.Rproj
!supplements_for_submission/supplement_B4_code_14_make_topic_network_figure.R

